body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow:hidden;
    background-color: #000;
}
@font-face {
    font-family: "Logo";
    src: url(OstrichSans-Bold.otf);
}

#Section-1 {
    position: relative;
    width: clamp(300px, 100vw, 100%);
    height: clamp(300px, 100vh, 100vh);
}
#Container-1 {
    position: relative;
    width: clamp(300px, 100vw, 1536px);
    height: clamp(300px, 100vh, 100%);
    background-color: #CC9966;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

#Holder{
    width: clamp(300px,30vw,460px);
    height: clamp(300px,88vh,657px);
    border-radius: 21px;
    background-color: #000;
    display: flex;
    align-items: center;
}

.Holder-open{
    width: clamp(300px,70vw,1075px) !important;
    transition: 0.5s;
}
.Holder-open2{
    width: clamp(300px,30vw,460px) !important;
    transition: 0.5s;
}
.Form-show{
    display: flex !important;
    width: clamp(300px,40vw,614px) !important;
    transition: 0.5s;
    background-color: #292828;
}
.Form-show2{
    display: flex !important;
    width: 0vw !important;
    transition: 0.5s;   
    background-color: #292828;
}


#Logo{
    width: clamp(300px,30vw,460px);
    height: clamp(300px,88vh,657px);
    border-radius: 21px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-name{
    color: #d10000;
    color: #fff;
    font-family: "Logo";
    font-size: 176px;
    text-align: center;
    border-bottom: 2px solid rgb(139, 139, 139);
    cursor: pointer;
    transition: 0.3s;
}
.Logo-name-bottom{
    border-bottom: 2px solid rgb(255, 255, 255) !important;
}

#Form-fill{
    position: relative;
    width: 0vw;
    height: clamp(300px,88vh,657px);
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    background-image: url(test2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Form-fill2{
    /* background-image: url(test4.jpg) !important; */
    background-image: none !important;
    background-color: #242222;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
#form{
    width: clamp(300px,32vw,491px);
    height: clamp(399px,26vw,399px);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}
input{
    position: relative;
    border: none;
    outline: none;
    width: clamp(200px,16vw,261px);
    margin: 20px;
    padding: 12px 8px;
    border-bottom: 2px solid black;
    border-radius: 11px;
    background: #00000099;
    /* background: #0000005e; */
    color: #fff;
}
#btn{
    background-color: #28282B;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 12px 7px;
    width: clamp(168px,11vw,168px);
    border-radius: 11px;
    cursor: pointer;
    font-family: var(--font);
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s;
    margin: 3px;
}
#btn:hover{
    background-color: #000000;
    border-radius: 0px;
    color: #ffffff;
}

#Para-container{
    display: none;
     background: #000000d6;
     width: clamp(260px,30vw,460px);
    height: 89px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#para{
    text-align: center;
    width: 91%;
    color: #ffffffe6;
    font-family: var(--Headline);
}