html{
    font-size: 50%;
}
body{
    overflow:scroll;
}
#Nav-P{
    width: clamp(300px,100vw,390px);
    height: 61.6px;
    background-color: rgb(0, 0, 0);
}

#main-Phone {
    display: block;
}

/* Theme Btns */
#section-2 {
    position: absolute;
    top: 0;
    left: 0px;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
}
#Section-1 { 
    height: clamp(94vh,753px,753px);
}
#Container-1 {
    align-items: flex-start;
    height: clamp(94vh,753px,753px);
}

/*Holder */
#Holder {
    flex-wrap: wrap;
    margin-top: 29px;
}

/* Dark Mode */
.light {
    position: absolute;
    bottom: 15px;
    left: 142px;
    top: -47px;
    width: 111px;
    height: 46px;
}
.toggle {
    height: 41px;
    width: 109px;
}
.ball {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 7px;
    transition: 0.2s;
}
/* Font size in para */
#para {
    font-size: 1.3rem;
}


/* Social-btn-Phone Code */
#Social-btn-phone{
    position: absolute;
    top: 0;
    right: 0;
    width: 19%;
    /* height: 0vh; */
    background-color: rgb(0, 0, 0);
    z-index: 109;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

}
#Social-btn{
    color: #fff;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 2rem;
    font-size: 4rem;
    margin-top: 15px;
    margin-bottom: 5px;
}
#Social-drop{
    width: 100%;
    height: 220px;
    background-color: #000000;
    z-index: 99;
    display: none;
}
ul {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    flex-direction: column;
}
ul li a {
     width: 52px;
     height: 55px;
     background-color: transparent;
     font-size: 4.5rem !important;
     line-height: 33px !important;
}
/* keyframes of Phone Drop Box */
.Q{
    animation: Q 2s both;
}
@keyframes Q {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    
}

.W{
    animation: W 1.5s both 0.1s;
}
@keyframes W {
    0%{
        opacity: 0;
        transform: translateY(-60px);
    }
    
}
.P{
    animation: P 1.4s both 0.2s;
}
@keyframes P {
    0%{
        opacity: 0;
        transform: translateY(-40px);
    }
    
}
.R{
    animation: R 1.3s both 0.1s;
}
@keyframes R {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    
}


/* This hide the Social PC version */
#Social{
    display: none !important;
}

/* changing the form and added btn */
#Form-fill {
    position: absolute;
    z-index: 99;
}
#Logo {
    position: relative;
   /* height: 734px; */
   height: clamp(734px,87vh,734px);
}
#Phone-btn-close{
    position: absolute;
    display: none;
    width: clamp(300px,30vw,460px);
    background: black;
    height: 10vh;
    z-index: 9;
    bottom: 0;
    border-radius: 15px 14px 19px 21px;
}
#INX-btn{
    font-family: var(--font);
    color: #fff;
    text-align: center;
    margin: auto;
    font-size: 4.9rem;
    border-bottom: 2px solid silver;
}

/* Video background */
#video{
    position: absolute;
    width: 100%;
    height: 100%;
}
#video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}